.custom-my-class {
  color: green;
}

.custom-my-class .with-another-class {
  box-sizing: border-box;
}

.custom-my-class .custom-child-class {
  border: 1px solid red;
}

.custom-my-class element {
  margin: 0;
}
